body {
  text-align: center;
  background-color: lightgray;
}

.App {
  text-align: center;
  background-color: lightgray;
  background-image: url("./Picture5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 90% 10%;
  padding-top: 2% !important;
}

.Form {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  background: url("./logo192.png");
  background-repeat: round;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.formRegistration {
  margin: 0;
  text-align: left;
  height: 100%;
  padding: 10px 10px 25px 10px;
}

label {
  color: white !important;
  font-weight: bold;
}

.container {
  width: 45% !important;
  padding-top: 1% !important;
  border-radius: 10px;
  background-color: rgba(11, 148, 73, 0.25);
  transition: 0.3s all;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.formTitle {
  margin: -42px 17% 20px 17%;
  padding: 2% 5px;
  opacity: 0.95;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(120deg, rgba(243, 105, 105) 0%, #5ba39a 100%);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-secondary {
  background-color: rgba(243, 105, 105) !important;
  border-color: rgba(243, 105, 105) !important;
}

@media screen and (min-width: 576px) {
  .container {
    /* margin-left: 1% !important; */
    width: 75% !important;
  }
}

@media screen and (min-height: 276px) {
  .Form {
    height: 307px;
  }
}

@media screen and (min-width: 768px) {
  .Form {
    height: 568px;
  }
  .container {
    /* margin-left: 1% !important; */
    width: 65% !important;
  }
}

@media screen and (min-width: 992px) {
  .Form {
    height: 698px;
  }
  .container {
    /* margin-left: 1% !important; */
    width: 60% !important;
  }
}

@media screen and (min-width: 1200px) {
  .Form {
    height: 898px;
  }
  .container {
    /* margin-left: 1% !important; */
    width: 45% !important;
  }
}