.App {
  text-align: center;
  background-color: darkgray;
  background-image: url("./Picture2.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 70% 10%;
  padding-top: 2% !important;
}

.Form {
  background-image: url("./Picture1.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  text-align: left;
}

.App-logo {
  height: 50vmin;
  background: url("./logo192.png");
  background-repeat: round;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.formRegistration {
  margin: 0;
}

label {
  color: white !important;
}

.container {
  margin-left: 1% !important;
  width: 35% !important;
  padding-top: 1% !important;
  border-radius: 10px;
  background-color: rgba(11, 148, 73, 0.25);
  transition: 0.3s all;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.formTitle {
  margin: -42px 17% 20px 17%;
  padding: 2% 5px;
  /* background-color: rgba(243, 105, 105); */
  opacity: 0.95;
  color: white;
  border-radius: 5px;
  background-image: linear-gradient(120deg, rgba(243, 105, 105) 0%, #5ba39a 100%);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}